h1{
	text-align: center;
}
#container {
		margin: 10px auto;
		width:50%;
		
}
form{
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100%
}
#container ul{
	list-style: none;
}
#container ul li{

}
#container ul li input{
	border-radius: 50px;
	width: 30px;
	height: 30px;
}

#cRojo{background-color: red;}
#cAzul{background-color: blue;}
#cVerde{background-color: green;}
#cAmarillo{background-color: yellow;}
#cNaranja{background-color: orange;}
#cMorado{background-color: purple;}
#cNegro{background-color: black;}
#cBlanco{background-color: white;}
.round{
	display: block;
	width:100%;
}
.round > li{
	display: inline;
}
.cEmpty{
	border:1px solid black;
}
#submit{
	display: inline-block;

}