$primaryColor = #3F51B5
$secondaryColor = #C5CAE9
$primaryText = #f4f4f4

a
	text-decoration none
	color $primaryText
ul
	list-style none
	padding-left 20px

#container
	display grid
	grid-template-columns 25% 75%
#cartel 
	margin 0 auto

.sectionHeader
footer
header
	background-color $primaryColor 
	color $primaryText

header
	display grid
	grid-template-columns 40% 10%
	justify-content space-between
	h1
		margin 0
		padding 5px
	a
		margin-top 20px
		
nav 
	background-color $secondaryColor
	li
	a
		padding 10px
		color $primaryColor
	.navLink:hover
			background-color $primaryColor
			color $primaryText
main 
	padding-left 5px
	min-height 540px

footer
	text-align center
	a
		img
			vertical-align middle
			padding 0 5px 0 5px
			width 80px
			height auto
.actividad
	margin 5px auto
	padding 5px
	width 60%
	text-align center
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	&:hover
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

//Registro Usuarios
#formRegister
	width: 30%
	margin 0 auto
	margin-top 30px
	text-align center
	input
		display block
		width 100%
		&[type="text"]
		&[type="email"]
			border none
			margin-top 15px
			background-color transparent
			border-bottom 1px solid $primaryColor

#submit
	margin-top 15px
	
//Registro de actividad
#formPonente
#formActivity	
	width: 60%
	margin 0 auto
	margin-top 30px
	text-align center
	input
		display block
		width 100%
		margin-top 12px
		&:not([type='submit'])
			border none
			background-color transparent
			border-bottom 1px solid $primaryColor
	textarea
		margin-top 10px
		width 90%
	select
		display block
		margin 10px auto
form 
	span 
		font-size 0.8rem
		color #ff0000
// LISTADO
#lista
	display grid
	grid-template-columns repeat(3,30%)
	justify-content space-around
	p 
		text-align center
	img
		border-radius 100px
		border-radius 1px solid #3F51B5
		width 200px