a {
  text-decoration: none;
  color: #f4f4f4;
}
ul {
  list-style: none;
  padding-left: 20px;
}
#container {
  display: grid;
  grid-template-columns: 25% 75%;
}
#cartel {
  margin: 0 auto;
}
.sectionHeader,
footer,
header {
  background-color: #3f51b5;
  color: #f4f4f4;
}
header {
  display: grid;
  grid-template-columns: 40% 10%;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  padding: 5px;
}
header a {
  margin-top: 20px;
}
nav {
  background-color: #c5cae9;
}
nav li,
nav a {
  padding: 10px;
  color: #3f51b5;
}
nav .navLink:hover {
  background-color: #3f51b5;
  color: #f4f4f4;
}
main {
  padding-left: 5px;
  min-height: 540px;
}
footer {
  text-align: center;
}
footer a img {
  vertical-align: middle;
  padding: 0 5px 0 5px;
  width: 80px;
  height: auto;
}
.actividad {
  border: 1px solid #252525;
  margin: 5px;
  padding: 5px;
}
#formRegister {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
#formRegister input {
  display: block;
  width: 100%;
}
#formRegister input[type="text"],
#formRegister input[type="email"] {
  border: none;
  margin-top: 15px;
  background-color: transparent;
  border-bottom: 1px solid #3f51b5;
}
#submit {
  margin-top: 15px;
}
#formPonente,
#formActivity {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
#formPonente input,
#formActivity input {
  display: block;
  width: 100%;
  margin-top: 12px;
}
#formPonente input:not([type='submit']),
#formActivity input:not([type='submit']) {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #3f51b5;
}
#formPonente textarea,
#formActivity textarea {
  margin-top: 10px;
  width: 90%;
}
#formPonente select,
#formActivity select {
  display: block;
  margin: 10px auto;
}
form span {
  font-size: 0.8rem;
  color: #f00;
}
#lista {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
}
#lista p {
  text-align: center;
}
#lista img {
  border-radius: 100px;
  border-radius: 1px solid #3f51b5;
  width: 200px;
}
